/* header,
main,
footer {
  margin: 0 1.5em;
} */

ul:only-of-type li {
  padding: 0.5 em;
  border: solid red 2px;
}

#li2 {
  padding: 0.5 em;
  border: solid red 2px;
  border-radius: 30px;
}

/* footer {
  
} */
